.testimonials {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  font-family: 'Poppins', sans-serif;
}

.testimonials .container {
  max-width: 1200px; /* Set a max width for better alignment */
  margin: 0 auto; /* Center the container */
}

.testimonials .title {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  padding: 20px 0;
  max-width: 600px;
  margin: 0 auto;
}

.testimonials .title h5 {
  color: #777;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: -3px;
}

.testimonials .title h2 {
  color: #777;
  line-height: 1.2em;
  font-weight: 900;
  font-size: 41px;
  letter-spacing: -1px;
  margin: 0;
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid with min size */
  gap: 20px; 
  margin-bottom: 20px; /* Space between cards and buttons */
}

.testimonial-card {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: space-between; /* Space between elements */
}

.testimonial-card .profile {
  display: flex;
  align-items: center;
  margin-bottom: 15px; 
}

.testimonial-card .profile img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.testimonial-card .profile .information {
  padding-left: 15px; /* Space between image and text */
}

.testimonial-card .profile .information .stars i {
  color: transparent;
}

.testimonial-card .profile .information p {
  font-size: 18px;
  margin: 0;
  color: #777;
  font-weight: 900;
  line-height: 1;
}

.testimonial-card .profile .information span {
  color: #EB6D2F;
  font-weight: bold;
  font-size: 14px;
}

.testimonial-card > p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.6em;
  color: #5A3733;
  text-align: center; /* Center text */
  font-style: italic; /* Italicize testimonial text */
}

.testimonial-card .icon {
  text-align: center;
}

.testimonial-card .icon i {
  font-size: 32px;
  color: #862790;
}



.prev:hover, .next:hover {
  color: #EB6D2F; /* Change color on hover */
  transition: color 0.3s ease; /* Smooth transition */
}

.navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.testimonials .prev,
.testimonials .next {
  cursor: pointer;
  margin: 0 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: #862790; /* Change to your desired button color */
  color: white;
  font-size: 18px;
}

.testimonials .prev:disabled,
.testimonials .next:disabled {
  background: #ccc;
  cursor: not-allowed;
}
